div.logo {
	padding: 0px 0px 20px 0px;
	overflow: hidden;
}
div.logo img {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
	display:block;
	width:100%;
	margin: 0px 0px 0px -25px;
}


p.mainmenu {
	font-size: larger;
}
.noborder {
	border: none;
	border-bottom:0px;
	padding:0; margin:0;
}
td.center {
	text-align: center;
}
td.left {
	text-align: left;
}
td.right {
	text-align: right;
}

img.exdlg {
	max-width: 200px;
}
